.primaryBtn {
  min-width: 100px;
  width: max-content;
  max-width: 100%;
  padding: 4px 20px;

  border-radius: 80px;
  background-color: $primaryColor;
  color: $blackColor;

  @extend %BodyText;

  cursor: pointer;

  transition: background-color $transitionSettings;

  &:hover {
    background-color: #FFE302;
  }

  &:disabled {
    background-color: #B4B4B4;
    color: $whiteColor
  }
}