.users {
  text-align: center;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include onTablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      align-items: stretch;
    }

    @include onDesktop {
      gap: 29px;
    }

    @media (min-width: 1290px) {
      padding: 0 1px;
    }
  }

  &__loader {
    margin-top: 20px;
  }

  &__loadBtn {
    margin-top: 50px;
    text-align: center;
  }
}

